*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    overflow-x:hidden;
    }

body{
    background-color: PaleVioletRed;
    width: auto;
}

@font-face {
    font-family: newfont;
    src: url('Breathing.ttf') format('truetype');
    font-weight: 100%;
 }

 p{
    text-align:justify;
 }


.container{
    display: grid;
    grid-template-areas:
    'header header header'
    'main   main    main'
    'footer footer footer';
    grid-template-rows: 10vh 100% -1vh;
    grid-template-columns: 100%;
    align-items: center;
    margin-top: 7vh;
    margin-left: -1vw;
}


#header{
    grid-area: header;
    text-align: center; 
}

#main{
    grid-area: main;
    background-image: url("img/mulher10.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100vw;
}

#footer{
    grid-area: footer;
    text-align: center;
}


.containerCard{
    display: grid;
    grid-template-areas:
    'card1 card2 card3'
    'card4 card5 card6';
    grid-column: 20vw 30vw 30vw;
    grid-row: 50vh 50vh;
    row-gap: 1vh;
    justify-content:space-evenly;
    }

#card1, #card2, #card3, #card4, #card5, #card6{
    width: 27vw;
    height: 455px;
    border-style: solid;
    border: 0px 500px 0px 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 1vh;
    background-color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    }

      /* #card1, #card4 {
        margin-left: -30px;
       }*/
  
.img img{
    width: 100%;
   }

#conteudo{
    background-color: white;
    padding: 1vh;
    color: black;
}

.img{
    background-color: white;
    width: auto;
}

h1 {
    font-family: newfont;
    color: black;
    text-align: center;
    font-size: 5vw;
    font-weight: 100;
}


h2 {
    background-color: white;
    text-align: center;
    font-size: medium;
}


@media screen and (max-width: 900px) and (min-width:600px){
    .containerCard{
        display: grid;
        grid-template-areas:
        'card1 card2'
        'card3 card4'
        'card5 card6';
        grid-column: 50vw 50vw;
        grid-row: 50vh 50vh;
        gap: 1vh;
        margin: 3vh;
        justify-content: center;
        }

    #card1, #card2, #card3, #card4, #card5, #card6{
        width: 35vw;
        height: 450px;
        border-style: solid;
        border: 0px 500px 0px 0px;
        box-shadow: 10px 5px 5px black;
        border-radius: 1vh;
        background-color: white;
        float: left;
        gap:2vh;
        }

    #card1, #card3, #card6 {
         margin-right: 20px;
           }
}

@media screen and (max-width: 601px){
    .containerCard{
        display: grid;
        grid-template-areas:
        'card1'
        'card2'
        'card3'
        'card4'
        'card5' 
        'card6';
        grid-column: 80vw 50vw;
        grid-row: 16vh 16vh 16vh 16vh 16vh 16vh ;
        gap: 1vh;
        margin: 3vh;
        justify-content: center;
        }

    #card1, #card2, #card3, #card4, #card5, #card6{
        width: 75vw;
        height: 500px;
        border-style: solid;
        border: 0px 500px 0px 0px;
        box-shadow: 10px 5px 5px black;
        border-radius: 1vh;
        background-color: white;
        float: left;
        gap:2vh;
        }

    #card1, #card3, #card6 {
        margin-right: 20px;
        }
}


